<div class="container">

<img src="assets/faqs.jpg" width="100%"/>

<h1>FAQs</h1>

<p>
	Please read the following information regarding the procedures of the Mikvah Society of Los Angeles.
    For more detailed questions or any additional information, feel free to <a href="mailto:info@lamikvah.org">contact us</a> directly.
</p>
<p>
	To download a checklist of things to do before going to the mikvah, <a href="assets/checklist4mikvah.pdf">click here to download a PDF</a>.
</p>
<p>
    For Halachic she&#39;elot please consult a Rav.
</p>
<p>
    Each question is clickable to take you to the associated answer below:
</p>
<ol>
	<li>
		<a href="/faqs#q1">I am a bride and I need to set up an appointment, what do I do?</a>
	</li>
	<li>
		<a href="/faqs#q2">I am a bride and I'd like to learn about Family Purity and what is involved in going to the Mikvah.</a>
	</li>
	<li>
		<a href="/faqs#q3">If I come fully prepared to the Mikvah, i.e. I've taken a bath at home, I've done all my preparations and showered, too, can I just use the Mikvah for immersion?</a>
	</li>
	<li>
		<a href="/faqs#q4">I need to go to the Mikvah on Friday night or <em>Yom Tov</em>, how do I prepare myself since I cannot do it at the Mikvah?</a>
	</li>
	<li>
		<a href="/faqs#q5">If I need to go to the Mikvah on <em>Motzaei Shabbat</em>/Saturday night (or <em>Motzaei Yom Tov</em>), when should I do my preparations?</a>
	</li>
	<li>
		<a href="/faqs#q6">How long may I stay in the water and pray?</a>
	</li>
	<li>
		<a href="/faqs#q7">Can I wear nail polish if I've just had my nails done?</a>
	</li>
	<li>
		<a href="/faqs#q8">Can I make an appointment at the Mikvah for after-hours if I know that I will not make it to the Mikvah before closing time?</a>
	</li>
	<li>
		<a href="/faqs#q9">Where can I purchase bedika cloths?</a>
	</li>
	<li>
		<a href="/faqs#q10">Where can I learn more about Taharat Hamishpacha?</a>
	</li>
</ol>
<div class="q-and-a"><a name="q1"></a>
	<strong>
		I am a bride and I need to set up an appointment, what do I do?
	</strong><br />
	<div>
		Call the Mikvah <a href="tel:+13105504511">(310) 550-4511</a> and follow the prompts to reach someone who can help you in setting up an appointment.
	</div>
	<div>
		As some have the custom to accompany the bride on her pre-wedding Mikvah night, we are happy to accommodate that custom. A few women (no more than that) may accompany her. No men, future husbands or children may be present. It is the responsibility of the bride's family to leave the Mikvah and the area outside as clean and orderly as it was found. The fee for a bride's appointment is for up to one hour. Any time above that will be charged as an additional hour.
	</div>
</div>
<div class="q-and-a"><a name="q2"></a>
	<strong>
		I am a bride and I'd like to learn about Family Purity and what is involved in going to the Mikvah.
	</strong><br />
	<div>
		The Mikvah Attendant will be glad to direct you to a Kallah Teacher who is trained to teach brides about Family Purity and mikvah use.
	</div>
</div>
<div class="q-and-a"><a name="q3"></a>
	<strong>
		If I come fully prepared to the Mikvah, i.e. I've taken a bath at home, I've done all my preparations and showered,
		too, can I just use the Mikvah for immersion?
	</strong><br />
	<div>
		According to <em>Halacha</em>, one should shower in the building of the Mikvah right before immersion so that the body is wet when entering the waters.
	</div>
</div>
<div class="q-and-a"><a name="q4"></a>
	<strong>
		I need to go to the Mikvah on Friday night or <em>Yom Tov</em>, how do I prepare myself since I cannot
		do it at the Mikvah?
	</strong><br />
	<div>
		If your Mikvah night falls on Friday night you should prepare yourself on Friday during the day. You should finish bathing, combing hair, and cutting nails before <em>Shabbat</em> begins. You should light <em>Shabbat</em> candles at home and come to the Mikvah at any point prior to one hour after candle lighting. Upon arriving at the Mikvah, all you will need to do is wait for the Mikvah Attendant to come and escort you to the Mikvah. On Friday night, no shower may be taken immediately prior to entering the Mikvah or after.
	</div>
	<div>
		If your Mikvah night falls on a Yom Tov (any day of the week) the above directions would also apply to that day of the week before sunset. If your Mikvah night is the second night of Yom Tov, all preparations would need to be completed before the start of the first day of Yom Tov.
	</div>
</div>
<div class="q-and-a"><a name="q5"></a>
	<strong>
		If I need to go to the Mikvah on <em>Motzaei Shabbat</em>/Saturday night (or <em>Motzaei Yom Tov</em>),
		when should I do my preparations?
	</strong><br />
	<div>
		If your mikvah night falls on <em>Motzaei Shabbat</em> or <em>Motzaei Yom Tov</em>, you should make your full customary
		preparations before Shabbat or Yom Tov (i.e. cut your nails, shave, etc). On <em>Motzaei Shabbat</em>
		or <em>Motzaei Yom Tov</em>, you should shower or bathe. There is no time minimum for this bathing since primary
		preparations were done on Friday or on Erev Yom Tov.
		In addition on <em>Motzaei Shabbat</em> or <em>Motzaei Yom Tov</em> you should brush your
		hair, teeth, and check one's body carefully.
	</div>
</div>
<div class="q-and-a"><a name="q6"></a>
	<strong>
		How long may I stay in the water and pray?
	</strong><br />
	<div>
		A woman is permitted to stay in the water for as long as she likes if she wants to pray. Remember,
		 the time of <em>tevilah</em> (immersion) is an <em>et ratzon,</em> a time when a woman's prayers are more readily
		 accepted.
	</div>
</div>
<div class="q-and-a"><a name="q7"></a>
	<strong>
		Can I wear nail polish if I've just had my nails done?
	</strong><br />
	<div>
		The policy at The Los Angeles Mikvah is that no nail polish should be worn during immersion in the Mikvah.
	</div>
</div>
<div class="q-and-a"><a name="q8"></a>
	<strong>
		Can I make an appointment at the Mikvah for after-hours if I know that I will not make it to the Mikvah before closing time?
	</strong><br />
	<div>
		You can make an after-hours appointment for an additional charge. Call the Mikvah (310)550-4511 and follow the prompts to reach someone who can help you in setting up an appointment.
    </div>
</div>

<div class="q-and-a"><a name="q9"></a>
	<strong>
		Where can I purchase bedika cloths?
	</strong><br />
	<div>
			<p>
					Bedikah cloths are available for purchase at the Mikvah.&nbsp; They can also be purchased at the following locations:</p>
				<ul>
					<li>
						Sunshine Pharmacy<br />
						357 North Fairfax Ave. (<a href="http://maps.google.com/maps?q=357+N+Fairfax+Ave,+Los+Angeles,+California" target="_blank">map</a>)<br />
						323-653-8692</li>
					<li>
						Century Pharmacy<br />
						8722 West Pico Blvd. (<a href="http://maps.google.com/maps?q=8722+West+Pico+Blvd.,+Los+Angeles,+California" target="_blank">map</a>)<br />
						310-657-6999</li>
					<li>
						Syd&#39;s Pharmacy<br />
						7111 Beverly Blvd. (<a href="http://maps.google.com/maps?q=7111+Beverly+Blvd.,+Los+Angeles,+California" target="_blank">map</a>)<br />
						323-933-8571</li>
				</ul>    
	</div>
</div>

<div class="q-and-a"><a name="q10"></a>
	<strong>
		Where can I learn more about Taharat Hamishpacha?
	</strong><br />
	<div>
			<p>
					<a href="http://www.yoatzot.org">www.yoatzot.org</a> The Women&rsquo;s Health and Halacha Website sponsored by Nishmat is designed to provide straightforward, user-friendly information to couples observing Taharat Hamishpacha. (Please Note: All Halachic issues and policies for the Los Angeles Mikvah are determined by the Vaad Ha-Rabbanim of the Los Angeles Mikvah)</p>
				<p>
					<a href="http://www.mikvah.org">www.mikvah.org</a> A site dedicated to teaching more about Mikvah, including pertinent articles, essays and a global Mikvah directory.</p>    </div>
</div>

</div>