<div class="container">

  <div class="row" style="padding-bottom: 3rem;">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">COVID-19 Update</h5>
            <p class="card-text">To all our users:</p>

            <p class="card-text">Thank you for your understanding during this stressful time in which we realize more than ever how we are all responsible for one another.</p>

            <p class="card-text">UPDATE: As of 3-22-20, the Los Angeles Mikvah will have certain changes in place: <strong>PLEASE SHARE THIS WITH ALL YOUR FRIENDS AND CONTACTS IN CASE SOMEONE HAS NOT RECEIVED</strong></p>

            <p class="card-text">FOR ANYONE WHO HAS TRAVELED HERE FROM THE NEW YORK AREA OR ISRAEL:
              We are not permitted to allow you to use the mikvah at this time. The instructions we received is that any traveler from those areas must be quarantined for 14 days after arriving.
            </p>

            <p class="card-text">If you have been in contact with ANYONE that has tested positive for the COVID19, we cannot allow you to use The Los Angeles Mikvah until your self-quarantine period of 14 days has passed. If you subsequently are exposed to another individual who tests positive, the 14 day period begins again for Mikvah use.</p>

            <p class="card-text">Anyone who has tested positive for the COVID 19 cannot be allowed to use The Los Angeles Mikvah at this time.</p>

            <p class="card-text">If you are exhibiting ANY COVID-type symptoms (dry cough, sore throat, fever, joint pain…) –even if you have not been in direct contact with someone who has yet been confirmed positive, please check with your doctor and your rav, before using the Mikvah, so that we do not risk spreading exposure to all the other users. Please remember each of us has an achrayut (responsibility) to everyone else in the community.</p>

            <p class="card-text">Each Mikvah user will have their temperature taken BEFORE entering the Mikvah. If there is any degree of fever whatsoever, the policy is that the user cannot be allowed in.</p>

            <p class="card-text">We will be opening the mikvah on an appointment ONLY basis to reduce the number of people sharing the space. <strong>WE HAVE STOPPED ALL PREPARATION INSIDE THE MIKVAH</strong>. Please prepare at home. Additionally, please be sure the appointment you set is for your mikvah day and not, in error, for the day you are making the appointment.</p>

            <p class="card-text">Once you have prepared at home, please do not shower before tevillah. An additional dip before your regular immersion count will suffice.</p>

            <p class="card-text">Please feel free to reach out if you have any questions (info@lamikvah.org or my cell (text is preferable) 310-948-4432, Vivian Lurie).</p>

            <p class="card-text">With Hashem’s help and a communal effort, we will hopefully control the situation.</p>

            <p class="card-text">Thank you,</p>

            <p class="card-text">The Board of the Los Angeles Mikvah</p>
        </div>
    </div>
</div>

  <img loading="lazy" src="assets/appointments.jpg" width="100%" />

  <h1>Appointments</h1>

  <p>Appointments can be made online for any night with the exception of Fridays and Yom Tov.</p>
  <p>
    Making an appointment online costs $36, which consists of the $30 mikvah visit fee, plus a $6 convenience fee.
    These fees are waived entirely for mikvah members. To learn more about membership, please see the <a
      routerLink="/fees-and-membership">membership page</a>.
  </p>
  <p>
    Appointments can be made up to one hour before the mikvah opens that day.
  </p>
  <p>
    Appointments can be cancelled anytime before the mikvah opens for a refund. After the mikvah opens, your appointment
    cannot be cancelled.
  </p>
  <p>
    Please show up on time. If you are not at the mikvah at the time of the appointment, you will lose your appointment,
    and any fees charged will not be refunded.
  </p>
  <p>
    All appointments are for 30 minutes. Please be sure to leave on time.
  </p>

  <p *ngIf="!isLoggedIn">
    You must <a (click)="logIn()" class="link" href="javascript:void(0);">log in</a> to make an appointment.
  </p>

  <div [ngClass]="alertClasses" role="alert" *ngIf="showMessage">
    {{message}}
  </div>

  <div class="card" *ngIf="isLoggedIn && hasCurrentAppointment">
    <div class="card-body">
      <h4 class="card-title">Current Appointment</h4>
      <p class="card-text">{{ currentAppointment }}</p>
      <input class="btn btn-danger" *ngIf="isCancellable" (click)="cancelAppointment()" type="button" value="Cancel">
    </div>
  </div>

  <div class="card" *ngIf="hasAvailabilityData && isLoggedIn && !hasCurrentAppointment">
    <div class="card-body">
      <h4 class="card-title">Create Appointment</h4>
      <form (ngSubmit)="onSubmit(createAppointmentForm)" #createAppointmentForm="ngForm">
        <div class="form-group">
          <label for="date">Date</label>
          <select class="form-control" id="date" name="date" [(ngModel)]="model.date" #dateField="ngModel"
            (change)="onDateSelectionChange()" required>
            <option *ngFor="let day of availableDays" [value]="day.isoDay">{{day.displayDay}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date">Room Type</label>
          <select class="form-control" id="roomType" name="roomType" [(ngModel)]="model.roomType" #dateField="ngModel"
            (change)="onRoomTypeSelectionChange()" required>
            <option *ngFor="let roomType of availableRoomTypes" [value]="roomType">{{roomType | titlecase}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="time">Time</label>
          <select class="form-control" id="time" name="time" [(ngModel)]="model.time" #timeField="ngModel" required>
            <option *ngFor="let time of availableTimes; let i = index" [value]="time.isoTime">{{time.displayTime}}
            </option>
          </select>
        </div>

        <div class="form-group" *ngIf="!isMember">
          <!-- Used to display form errors -->
          <label for="card-element">Payment Method</label>
          <div class="form-check" *ngIf="hasSavedCreditCard">
            <input class="form-check-input payment-radio" type="radio" name="paymentMethod" id="paymentMethod1"
              value="saved" [(ngModel)]="model.paymentMethod" checked>
            <label class="form-check-label mikvah-checkbox-label" for="paymentMethod">
              {{ savedCreditCard }}
            </label>
          </div>
          <div class="form-check" *ngIf="hasSavedCreditCard">
            <input class="form-check-input payment-radio" type="radio" name="paymentMethod" id="paymentMethod2"
              value="new" [(ngModel)]="model.paymentMethod">
            <label class="form-check-label mikvah-checkbox-label" for="paymentMethod">
              Use a different card
            </label>
          </div>
          <div id="card-element" class="form-control" #cardInfo>
            <!-- a Stripe Element will be inserted here. -->
          </div>
          <div id="card-errors" class="card-errors" role="alert" *ngIf="error">{{ error }}</div>
        </div>
        <div class="form-group">
          <label for="notes" translate>Notes</label>
          <textarea [(ngModel)]="model.notes" #notes="ngModel" type="text" class="form-control" id="notes"
            name="notes"></textarea>
          <small id="notesHelp" class="form-text text-muted">These notes will be shared with the mikvah
            attendant.</small>
        </div>
        <button type="submit" class="btn btn-primary"
          [disabled]="appointmentCreationFormSubmissionInProgress">Reserve</button>
      </form>
    </div>
  </div>

</div>