.card-errors {
    display: block;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
  }

.link {
  cursor: pointer;
}

.form-check-input.form-control {
  margin-left: 0;
}

.form-check-label.mikvah-checkbox-label {
  padding-left: 1.50rem;
}

input.payment-radio {
  margin-left: 0px;
}

#card-element {
  margin-top: 1rem;
}