table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
tr:nth-child(even) {
    background-color: lightgrey;
}

a+a {
    margin-left: 10px;
}

th.mat-header-cell {
    font-weight: bold;
    color: black;
    border: 1px solid lightgrey;
    text-align: left;
    padding: 8px;
}

td.mat-cell {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 8px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}