<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card" *ngIf="isLoggedIn && isAdmin">
        <div class="card-body">
          <h4 class="card-title">Current Appointments</h4>
          <table class="table">
            <thead>
            <tr>
              <th>Time</th>
              <th>Room Type</th>
              <th>Title</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appointment of schedule">
              <td>{{ appointment.time }}</td>
              <td>{{ appointment.roomType | titlecase }}</td>
              <td>{{ appointment.title }}</td>
              <td>{{ appointment.firstName }}</td>
              <td>{{ appointment.lastName }}</td>
              <td>{{ appointment.email }}</td>
              <td>{{ appointment.phoneNumber }}</td>
              <td>{{ appointment.notes }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
