<div class="container">

<img src="assets/mens_mikvah.jpg" width="100%"/>

<h1>Men's Mikvah</h1>

<div>
	The Men's Mikvah is located at:
</div>
<div class="address">
	<em>9548 W. Pico Boulevard<br />
	Los Angeles, CA 90035</em>
</div>
<div>
	Parking and entrance are located in the back.
</div>
<div>
	Men's Mikvah hours are as follows:
</div>
<div class="address">
	Monday-Thursday<br />
	5:30 AM - 8:15 AM<br />
	<br />
	Friday<br />
	5:30 AM-8:15 AM<br />
	1:30 PM - 40 minutes before candle lighting<br />
	<br />
	Every Sunday<br />
	6:30 AM - 9:15 AM
	<p><b>Fee: $5</b></p>
</div>