<div class="container">

<img src="assets/donations.jpg" width="100%"/>

<h2>Donation Opportunities</h2>

<div>
	The Mikvah of Los Angeles is an integral part of the Los Angeles community and as such needs community
	support to thrive. Apart from annual membership, please consider the following ways in which you
	can play a vital role in our Mikvah:
</div>
<ul>
	<li>
		<strong>SPONSOR A BRIDE- $360.00 (and up)</strong><br />
		Perhaps you will attend a wedding of a couple who has everything they need, or a couple
		whose budget will be stretched by Mikvah fees for the year. Now, you can sponsor a bride for
		a year&rsquo;s Mikvah attendance and have a share in their mitzvah.
	</li>
	<li>
		<strong>FRIEND OF THE MIKVAH- $180.00</strong><br />
		If you would like to support the Mikvah, but are not in a position to become an
		annual member, this donation opportunity is available. For $180.00 you can
		become a Friend of the Mikvah for the year.
	</li>
	<li>
		<strong>SHABBAT GIFT CARDS- $100.00</strong><br />
		Consider sending a Mikvah Shabbat card in lieu of flowers, candy or a gift. Let
		your host know you thought of a more meaningful way to enhance their Shabbat.
		For $100.00 you will receive a package of 10 cards to give to friends and family.
	</li>
	<li>
		<strong>YAHRZEIT AND MEMORIAL CONTRIBUTIONS- $54.00 (and up)</strong><br />
		Each member of the Jewish community is a link in the chain of our history.
		Consider a yahrzeit or memorial contribution connected to a mitzvah which
		strengthens this same chain.
	</li>
	<li>
		<strong>TRIBUTE CARDS- $36.00 (and Up)</strong><br />
		Looking for a way to acknowledge someone who has helped you or your family? Let
		them know you have contributed to their Mikvah as a way of saying thank you.
	</li>
	<li>
		<strong>PURIM CARDS- $25.00</strong><br />
		Make a donation to the Mikvah in honor of your family and friends for Purim.
		For $25.00 you receive a package of ten cards that you can send to your Mishloach
		Manot list to let them know that you have contributed to the Mikvah in their honor.
	</li>
</ul>
<div>
	For donations in excess of $360.00, which would entitle you to an annual Mikvah membership and its benefits,
	please click on the <a routerLink="fees-and-membership">Fees/Membership</a> tab.
</div>