<div class="container">


    <div class="row" style="padding-bottom: 3rem;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">COVID-19 Update</h5>
                <h6 class="card-text">Updated as of September 13, 2020</h6>

                <p class="card-text"><strong>Please read this carefully, as there may be additional policies since the last time you have used the mikvah.</strong></p>

                <p class="card-text" style="color: red;">Please note: It is your responsibility to inform us if you have had any exposure to Covid 19 in
                    the past 14 days. Be assured that we will try to accommodate your situation by taking the
                    appropriate precautions for your tevillah, while making sure that everyone remains safe.</p>

                <p class="card-text">If you have traveled <strong style="text-decoration: underline">or</strong> have been in close contact with anyone who has traveled <strong style="text-decoration: underline">or</strong> have been
                    in close contact with someone who has tested positive for COVID-19, please understand, for
                    the safety of <strong style="text-decoration: underline">ALL</strong> our users, we ask you to please be in touch with us directly (<a href="tel:+13109484432">310-948-4432</a>, for Vivian) <strong style="text-decoration: underline">before</strong> coming to use our Mikvah or making an appointment.
                    It is essential that you do so, so we can guide you accordingly on an individual basis and so
                    our community can feel comfortable continuing to use our Mikvah.</p>

                <p class="card-text"><strong>Face masks / coverings are required.</strong></p>

                <p class="card-text"><strong>Appointments are now required.</strong> We no longer allow walk-ins, except on Friday nights and
                    Yom Tov evenings.</p>

                <p class="card-text"><strong>All preparations must be completed at home. No preparations will be allowed at the
                    Mikvah. When booking your appointment select from either bath or shower options to
                    view all available time slots.</strong> Once you have prepared at home, please do not shower
                    before tevillah. An additional dip before your regular immersion count will suffice.</p>

                <p class="card-text">On Friday and Yom Tov evenings appointments are not required and users must come one
                    hour after candle lighting time (for Yom Tov, based on candle lighting time of the first day).
                    Please remain outside, maintaining social distancing until the Mikvah attendant escorts you
                    to a room. Please be sure to come on time as we are only open for 30 minutes each Friday
                    and Yom Tov night.</p>

                <p class="card-text">If you have been in contact with ANYONE that has tested positive for COVID-19, we cannot allow you to use the mikvah until you have waited 4 days from exposure, taken a nasal swab PCR test and received negative results. If during that period you are subsequently exposed to another individual who tests positive, the same process begins anew.</p>

                <p class="card-text">If you are exhibiting ANY COVID-type symptoms (dry cough, sore throat, fever, joint pain, loss of sense of smell or taste, etc.) even if you have not been in direct contact with someone who has yet been confirmed positive, please check with your doctor and your Rav, before using the Mikvah so that we do not risk spreading the virus to all the other users. Please remember each of us has an <em>achrayut</em> (responsibility) to everyone else in the community.</p>

                <p class="card-text">Each Mikvah user will have their temperature taken before entering the Mikvah. If there is any degree of fever whatsoever, the policy is that the user cannot be allowed in.
                </p>

                <p class="card-text">If you have contracted COVID-19, and have not yet tested negative after recuperation, we cannot allow you to use the mikvah.</p>

                <p class="card-text">When making your appointment, before confirming please double check that you have selected the correct date and time.</p>

                <p class="card-text">PLEASE NOTE AND PASS ALONG:  The Men’s Mikvah has not been open since the Coronavirus situation began and still remains closed. The Men’s Mikvah WILL NOT be open pre-Rosh haShana or pre-Yom Kippur</p>

                <p class="card-text">Please feel free to reach out if you have any questions (<a href="mailto:info@lamikvah.org">info@lamikvah.org</a> or my cell (text is preferable) <a href="tel:+13109484432">310-948-4432</a>, Vivian Lurie).</p>

                <p class="card-text">Please share these changes with friends and contacts who may not be aware of them.</p>

                <p class="card-text">With Hashem’s help and a communal effort, we will hopefully control the situation.</p>

                <p class="card-text">Thank you,</p>

                <p class="card-text">The Board of the Los Angeles Mikvah</p>
            </div>
        </div>
    </div>

    <div class="row">
        <img loading="lazy" src="assets/home.jpg" class="intro-image" width="100%" alt="Mikvah Home"/>
    </div>
    

    <div class="row">
        <div class="col-sm-8">
            <h2>Welcome to The Mikvah Society of Los Angeles</h2>

            <p>
            The <em>mitzvah</em> of <em>Taharat Hamishpacha</em> is central to the Jewish people
            and its observance brings holiness and purity into our family lives.
            </p>
            <p>
            With the aim of building a community Mikvah, The Mikvah Society of Los Angeles was
            founded in January 1974. It is a non-profit organization and relies on
            community support for its operation and maintenance.
            </p>
            <p>
            Since it opened its doors in October 1976, <em>Mikvat Esther</em>, The Mikvah
            Society of Los Angeles, has grown along	with the greater LA community.
            </p>
            <p>
            The Mikvah is open every night during the year, except on <em>Yom Kippur</em>
            and <em>Tisha B&rsquo;av</em>.
            </p>
            <p>
            All Halachic issues and policies are determined by the <em>Vaad Ha-Rabbanim</em>:
            </p>
            <ul>
            <li>
            Rabbi Sholom Tendler
            </li>
            <li>
            Rabbi Shimon Raichik
            </li>
            <li>
            Rabbi Ezra Schochet
            </li>
            <li>
            Rabbi Yosef Shusterman
            </li>
            </ul>
            <div id="spacer"></div>
            <div id="auth0badge">
                <a width="150" height="50" rel="noopener" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
            </div>
        </div>
        <div class="col-sm-4 schedule">
            <h3>This Week's Schedule</h3>
            <p>
                <strong>
                    Week of {{ firstDayInWeek }}<br/>
                    <br/>
                    <span *ngFor="let day of dailyHours">
                        <br *ngIf="day.weekday === 'Fri'"/>
                        <span *ngIf="!day.closed">{{ day.start }} - {{ day.end }} ({{ day.weekday }})</span>
                        <span *ngIf="day.closed">CLOSED ({{ day.weekday }})</span>
                        <br/>    
                    </span>
                </strong>
            </p>
            <small>Mikvah rooms will be available for preparation 45 minutes prior to opening hours, and no earlier.
            <br/>
            <br/>
            Both appointments and walk-ins are welcome.
            <br />
            <br />
            Please note that on Motzaei Shabbat as well as Motzaei Yom Tov (Saturday Nights and at the close of Holidays), no one 
                will be allowed into the Mikvah until 45 minutes after Havdallah when the Mikvah attendant arrives.
            </small>
            <br/>
            <br />
            <strong>Please make sure to arrive at least one half hour before closing time, so you can be out by closing time and avoid late fees.</strong>
        </div>
      </div>
    
</div>
