<div class="container">

    <div class="row">
        <img src="assets/home.jpg" class="intro-image" width="100%" alt="Mikvah Home"/>
    </div>
    

    <div class="row">
        <div class="col-sm-8">
            <h2>Welcome to The Mikvah Society of Los Angeles</h2>

            <p>
            The <em>mitzvah</em> of <em>Taharat Hamishpacha</em> is central to the Jewish people
            and its observance brings holiness and purity into our family lives.
            </p>
            <p>
            With the aim of building a community Mikvah, The Mikvah Society of Los Angeles was
            founded in January 1974. It is a non-profit organization and relies on
            community support for its operation and maintenance.
            </p>
            <p>
            Since it opened its doors in October 1976, <em>Mikvat Esther</em>, The Mikvah
            Society of Los Angeles, has grown along	with the greater LA community.
            </p>
            <p>
            The Mikvah is open every night during the year, except on <em>Yom Kippur</em>
            and <em>Tisha B&rsquo;av</em>.
            </p>
            <p>
            All Halachic issues and policies are determined by the <em>Vaad Ha-Rabbanim</em>:
            </p>
            <ul>
            <li>
            Rabbi Sholom Tendler
            </li>
            <li>
            Rabbi Shimon Raichik
            </li>
            <li>
            Rabbi Ezra Schochet
            </li>
            <li>
            Rabbi Yosef Shusterman
            </li>
            </ul>
        </div>
        <div class="col-sm-4 schedule">
            <h3>This Week's Schedule</h3>
            <p>
                <strong>
                    Week of {{ firstDayInWeek }}<br/>
                    <br/>
                    <span *ngFor="let day of dailyHours">
                        <br *ngIf="day.weekday === 'Fri'"/>
                        <span *ngIf="!day.closed">{{ day.start }} - {{ day.end }} ({{ day.weekday }})</span>
                        <span *ngIf="day.closed">CLOSED ({{ day.weekday }})</span>
                        <br/>    
                    </span>
                </strong>
            </p>
            <small>Mikvah rooms will be available for preparation 45 minutes prior to opening hours, and no earlier.
            <br/>
            <br/>
            Both appointments and walk-ins are welcome.
            <br />
            <br />
            Please note that on Motzaei Shabbat as well as Motzaei Yom Tov (Saturday Nights and at the close of Holidays), no one 
                will be allowed into the Mikvah until 45 minutes after Havdallah when the Mikvah attendant arrives.
            </small>
            <br/>
            <br />
            <strong>Please make sure to arrive at least one half hour before closing time, so you can be out by closing time and avoid late fees.</strong>
        </div>
      </div>
    
</div>
