<div class="container">


    <div class="row" style="padding-bottom: 3rem;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">COVID-19 Update</h5>
                <p class="card-text">To all our users:</p>

                <p class="card-text">Thank you for your understanding during this stressful time in which we realize more than ever how we are all responsible for one another.</p>


                <p class="card-text">UPDATE: As of 3-22-20, the Los Angeles Mikvah will have certain changes in place: <strong>PLEASE SHARE THIS WITH ALL YOUR FRIENDS AND CONTACTS IN CASE SOMEONE HAS NOT RECEIVED</strong></p>

                <p class="card-text">If you have been in contact with ANYONE that has tested positive for the COVID19, we cannot allow you to use The Los Angeles Mikvah until your self-quarantine period of 14 days has passed. If you subsequently are exposed to another individual who tests positive, the 14 day period begins again for Mikvah use.</p>

                <p class="card-text">Anyone who has tested positive for the COVID 19 cannot be allowed to use The Los Angeles Mikvah at this time.</p>

                <p class="card-text">If you are exhibiting ANY COVID-type symptoms (dry cough, sore throat, fever, joint pain…) –even if you have not been in direct contact with someone who has yet been confirmed positive, please check with your doctor and your rav, before using the Mikvah, so that we do not risk spreading exposure to all the other users. Please remember each of us has an achrayut (responsibility) to everyone else in the community.</p>

                <p class="card-text">Each Mikvah user will have their temperature taken BEFORE entering the Mikvah. If there is any degree of fever whatsoever, the policy is that the user cannot be allowed in.</p>

                <p class="card-text">We will be opening the mikvah on an appointment ONLY basis to reduce the number of people sharing the space. <strong>WE HAVE STOPPED ALL PREPARATION INSIDE THE MIKVAH</strong>. Please prepare at home. Additionally, please be sure the appointment you set is for your mikvah day and not, in error, for the day you are making the appointment.</p>

                <p class="card-text">Once you have prepared at home, please do not shower before tevillah. An additional dip before your regular immersion count will suffice.</p>

                <p class="card-text">Please feel free to reach out if you have any questions (info@lamikvah.org or my cell (text is preferable) 310-948-4432, Vivian Lurie).</p>

                <p class="card-text">With Hashem’s help and a communal effort, we will hopefully control the situation.</p>

                <p class="card-text">Thank you,</p>

                <p class="card-text">The Board of the Los Angeles Mikvah</p>
            </div>
        </div>
    </div>

    <div class="row">
        <img src="assets/home.jpg" class="intro-image" width="100%" alt="Mikvah Home"/>
    </div>
    

    <div class="row">
        <div class="col-sm-8">
            <h2>Welcome to The Mikvah Society of Los Angeles</h2>

            <p>
            The <em>mitzvah</em> of <em>Taharat Hamishpacha</em> is central to the Jewish people
            and its observance brings holiness and purity into our family lives.
            </p>
            <p>
            With the aim of building a community Mikvah, The Mikvah Society of Los Angeles was
            founded in January 1974. It is a non-profit organization and relies on
            community support for its operation and maintenance.
            </p>
            <p>
            Since it opened its doors in October 1976, <em>Mikvat Esther</em>, The Mikvah
            Society of Los Angeles, has grown along	with the greater LA community.
            </p>
            <p>
            The Mikvah is open every night during the year, except on <em>Yom Kippur</em>
            and <em>Tisha B&rsquo;av</em>.
            </p>
            <p>
            All Halachic issues and policies are determined by the <em>Vaad Ha-Rabbanim</em>:
            </p>
            <ul>
            <li>
            Rabbi Sholom Tendler
            </li>
            <li>
            Rabbi Shimon Raichik
            </li>
            <li>
            Rabbi Ezra Schochet
            </li>
            <li>
            Rabbi Yosef Shusterman
            </li>
            </ul>
            <div id="spacer"></div>
            <div id="auth0badge">
                <a width="150" height="50" rel="noopener" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
            </div>
        </div>
        <div class="col-sm-4 schedule">
            <h3>This Week's Schedule</h3>
            <p>
                <strong>
                    Week of {{ firstDayInWeek }}<br/>
                    <br/>
                    <span *ngFor="let day of dailyHours">
                        <br *ngIf="day.weekday === 'Fri'"/>
                        <span *ngIf="!day.closed">{{ day.start }} - {{ day.end }} ({{ day.weekday }})</span>
                        <span *ngIf="day.closed">CLOSED ({{ day.weekday }})</span>
                        <br/>    
                    </span>
                </strong>
            </p>
            <small>Mikvah rooms will be available for preparation 45 minutes prior to opening hours, and no earlier.
            <br/>
            <br/>
            Both appointments and walk-ins are welcome.
            <br />
            <br />
            Please note that on Motzaei Shabbat as well as Motzaei Yom Tov (Saturday Nights and at the close of Holidays), no one 
                will be allowed into the Mikvah until 45 minutes after Havdallah when the Mikvah attendant arrives.
            </small>
            <br/>
            <br />
            <strong>Please make sure to arrive at least one half hour before closing time, so you can be out by closing time and avoid late fees.</strong>
        </div>
      </div>
    
</div>
