<div class="container">

<img src="assets/fees_membership.jpg" width="100%"/>

<h1>Fees</h1>
<p>
The fee for each Mikvah visit is $26.00. Appointments made online pay an additional $2 fee.
</p>
<p>
Payments made at the time of your visit can be made by cash or check.
When making an appointment online payments may be made via credit or debit card.
</p>
<p>
Annual membership payments can be made online via credit or debit card.
See below for information on joining.
</p>

<h1>Membership</h1>
<p>Membership is an important way to help support the mikvah.</p>
<p>
There is no individual use fee for Mikvah members.
</p>

<p>There are four different levels of membership available to show your support:</p>
<ul>
<li>
<p>
  $360 Standard Membership
</p>
</li>
<li>
<p>
  $500 Silver Membership
</p>
</li>
<li>
<p>
  $1000 Gold Membership
</p>
</li>
<li>
<p>
  $1800 Platinum Membership
</p>
</li>
</ul>
